<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.program.module_ucenter">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Forum">
        <activity android:name=".ui.UserInfoActivity"></activity>
        <activity android:name=".ui.ImageSwitchActivity" />
        <activity android:name=".ui.FavoriteListActivity" />
        <activity android:name=".ui.UcenterListActivity" />
        <activity android:name=".ui.UserCenterActivity" />
        <activity android:name=".ui.MessageListActivity" />
        <activity android:name=".ui.MsgCenterActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.MainActivity" />

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />
    </application>

</manifest>