<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.program.module_moyu">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".ui.activity.FishPoneSelectionActivity"></activity>
        <activity android:name=".ui.activity.PutFishActivity" />
        <activity android:name=".ui.activity.MoyuCommentDetailActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.MoyuDetailActivity" />
    </application>

</manifest>